// background-image

.bck-img-crew{
    position: fixed;
    top:0;
    width: 100%;
    height: 100%;
    background-image: url("/src/assets/crew/background-crew-desktop.jpg");
    background-repeat: no-repeat;
    mix-blend-mode: lighten;
    background-size: cover;
    @include tablet{
      background-image: url("/src/assets/crew/background-crew-tablet.jpg");
    }
    @include mobile{
      background-image: url("/src/assets/crew/background-crew-mobile.jpg");
    }
  }

  // .crew-page{
  //   @include mobile{
  //     display: flex;
  //     flex-direction: column-reverse;
      
  //   }
  // }
.crew-page .fixed-container{
  @include desktop{
    position: absolute;
    width: 100vw;
    display: flex;
    margin-left: 80px;
  }
   @include tablet{
    position: static;
    margin-top: 230px;
    height: 100vh;
    margin-left: 0;
    margin-bottom: -80px;
   }
   
}


.crew-page .inner-container{
  @include desktop{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    @include tablet{
      margin: 0;
    }
   
    
  }

  .crew-page .inner-container h5{
    @include desktop{
      position: relative;
      left: -95px;
    }
    @include tablet{
      left:35px;
    }
    
   
  }
  
// left-box-details
.crew-page .inner-container .left-box{
   @include desktop{
    margin-top: 60px;
    position: relative;
    top: -43px;
    left:230px;
    width: 700px;
    height: 445px;
  }
    @include tablet{
      margin: 0;
      left: 0;
      display: flex;
      justify-content: center;
    }
   
    
}
  
  .one-crew {
    @include desktop{
      position: relative;
    top: 50px;
    right: 108px;
  }
    @include tablet{
      right:0;
    }
   
}
  .one-crew h4{
   @include desktop{ 
    margin: 25px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
  }
    @include tablet{
      text-align: center;
    }
   
  }
  .one-crew h2{
   @include desktop{
    margin: 25px 0;
    font-size: 56px;
    font-family: $font-2;
    line-height: 64px;
    letter-spacing: 4.725px;
    text-transform: uppercase;
    color: #ffff;
   }
    @include tablet{
      text-align: center;
    }
    
  }
  .one-crew p{
    @include desktop{
      width:450px;
      height: 128px;
      margin: 25px 0;
      font-family: $font-1;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
    }
    
@include tablet{
  width: 440px;
  position: relative;
  left: 54px;
}

  }

  //right-box-image
  .crew-page .right-box{
   @include desktop{
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    position: relative;
    right: 93px;
   }
    @include tablet{
      height: 100vh;
     
      justify-content: center;
      right: 0;
    }
  
  }
  // .crew-page .right-box .img-details{
  //   width: 327px;
  //   height: 223px;
  // }
  .crew-page .right-box .img-details > div{
    display: flex;
    justify-content: center;
  }
  .crew-page .right-box .img-details img{
    @include desktop{

      height:500px;
    }
   @include tablet{
    height: 400px;
   }
  }
//   .crew-page .right-box .img-details .crew-images{
 
// height: 570px;
//   }

  //bottom navigation dots
  
  .bottom-menu{
    @include desktop{
      width: 100%;
    position: relative;
    left: 110px;
    bottom: 109px;
    }
    @include tablet{
      left:0;
    }
    
    
  }
  .bottom-menu ul{
    @include desktop{
      display: flex;
    }
    
    @include tablet{
      justify-content: center;
    }
    

  }

  .bottom-menu ul li .dot{
    background-color: #ffff;
    mix-blend-mode: normal;
    opacity: 0.17;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 20px;
    @include mobile{
      width: 10px;
      height: 10px;
    }
  }
  .fixed-container .inner-container .bottom-menu ul li{
         cursor: pointer;
        
        list-style-type: none;
        z-index: 20;
    }
    
    .fixed-container .inner-container .bottom-menu ul li .dot:hover{
        background-color: #FFFFFF;
        opacity: 50%;
    }
    .fixed-container .inner-container .bottom-menu ul li a.active .dot{
        background-color: #FFFFFF;
        opacity: 100%;
    }
    .fixed-container .inner-container .bottom-menu ul li.act .dot{
        background-color:#FFFFFF;
        opacity: 100%;
    }
    