// background-image

.bck-img-crew{
    position: fixed;
    top:0;
    width: 100%;
    height: 100%;
    background-image: url("/src/assets/crew/background-crew-desktop.jpg");
    background-repeat: no-repeat;
    mix-blend-mode: lighten;
    background-size: cover;
    @include tablet{
      background-image: url("/src/assets/crew/background-crew-tablet.jpg");
    }
    @include mobile{
      background-image: url("/src/assets/crew/background-crew-mobile.jpg");
    }
  }

  .crew-page{
    @include mobile{
      display: flex;
      flex-direction: column-reverse;
      
    }
  }
.crew-page .fixed-container{
    position: absolute;
    margin-right: 358px;
    @include mobile{
      position: relative;
      margin: 0;
    }
}

.crew-page .inner-container{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mobile{
      margin-top:-30px;

    }
  }

  .crew-page .inner-container h5{
    position: relative;
    left: -95px;
    @include mobile{
      position: absolute;
      bottom: 136%;
      left: 265px;
    }
  }
  
// left-box-details
.crew-page .inner-container .left-box{
    margin-top: 60px;
    position: relative;
    top: -43px;
    left:230px;
    width: 700px;
    height: 445px;
    @include mobile{
      top: 120px;
      left: 216px;
    }
    
}
  
  .one-crew {
    position: relative;
    top: 50px;
    right: 108px;
    @include mobile{
      top: 13px;
      right: 0;
      max-width: 280px;
      text-align: center;
    }
}
  .one-crew h4{
    margin: 25px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    @include mobile{
      font-size: 16px;
      line-height: 18px;
    }
  }
  .one-crew h2{
    margin: 25px 0;
    font-size: 56px;
    font-family: $font-2;
    line-height: 64px;
    letter-spacing: 4.725px;
    text-transform: uppercase;
    color: #ffff;
    @include mobile{
      font-size: 24px;
      line-height: 28px;
    }
  }
  .one-crew p{
    width:450px;
    height: 128px;
    margin: 25px 0;
    font-family: $font-1;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 32px;
@include mobile{
  font-size: 15px;
line-height: 25px;
max-width: 290px;
}
  }

  //right-box-image
  .crew-page .right-box{
   
    position: relative;
    top: 120px;
    bottom: 0;
    left: 415px;
    @include mobile{
      
    left: 0px;
    }
  }
  .crew-page .right-box .img-details{
    width: 327px;
    height: 223px;
  }
  .crew-page .right-box .img-details > div{
    display: flex;
    justify-content: center;
  }
  .crew-page .right-box .img-details img{
    @include mobile{
      
      height: 222px;
    }
  }
  .crew-page .right-box .img-details .crew-images{
 
height: 570px;
  }

  //bottom navigation dots
  
  .bottom-menu{
    width: 100%;
    position: relative;
    left: 110px;
    bottom: 109px;
    @include mobile{
      width: auto;
    left: -7px;
    bottom: 335px;
    }
    
  }
  .bottom-menu ul{
    
    display: flex;

  }
  .bottom-menu ul li .dot{
    background-color: #ffff;
    mix-blend-mode: normal;
    opacity: 0.17;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 20px;
    @include mobile{
      width: 10px;
      height: 10px;
    }
  }
  .bottom-menu ul li{
         cursor: pointer;
        
        list-style-type: none;
        
    }
    
    .bottom-menu ul li .dot:hover{
        background-color: #fff;
        opacity: 50%;
    }
    .bottom-menu ul li a.active .dot{
        background-color: #FFFFFF;
        opacity: 100%;
    }
    .bottom-menu ul li.act .dot{
        background-color:#FFFFFF;
        opacity: 100%;
    }
    