.container-tech{
    display: flex;
    align-items: center;
    @include mobile{
        flex-direction: column-reverse;
    }
}

.bck-img-tech{
    position: fixed;
    top:0;
    width: 100%;
    height: 100%;
    background-image: url("/src/assets/technology/background-technology-desktop.jpg");
    background-repeat: no-repeat;
    mix-blend-mode: lighten;
    background-size: cover;
    @include tablet{
        background-image: url("/src/assets/technology/background-technology-tablet.jpg");
    }
    @include mobile{
        background-image: url("/src/assets/technology/background-technology-mobile.jpg");
    }
}

.container-tech .inner-box{
   @include desktop{
     display: flex;
    flex-direction: column;
    align-items: center;
    // height: 80vh;
    width: 60vw;
    justify-content: space-around;
     }
    @include mobile{
        width: 100vw;
    }
}

.container-tech .inner-box h5{
   @include desktop{
    text-transform: uppercase;
   position: relative;
   top:30px;
   }
   @include mobile{
    font-size: 16px;
line-height: 19px;
letter-spacing: 2.7px;
top: -20%;

   }
}
//left-box general container mobile/tablet
.left-box{
    display: block;
    @include mobile{
        display: flex;
    flex-direction: column-reverse;
    }
}

//left-toggle navigation

.left-box .left-toggle{
    @include desktop{
    position: absolute;
    left: 50px;
   bottom:170px;
    }
   @include mobile{
    position: static;
    margin-left: -4px;
   }
}
.left-toggle ul{
    @include desktop{
        display: block;
    }
    @include mobile{
        display: flex;
        justify-content: center;
    }
}
.left-toggle ul li {
    cursor: pointer;
    list-style-type: none;
    display: block;
    @include mobile{
    display: flex;
    width: 67px;
    justify-content: space-evenly;
    }
}
.left-toggle ul li a .dot{
   @include desktop{
    text-align: center;
    padding-top: 20px;
    border: 3px solid #34373d;
    mix-blend-mode: normal;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px; 
   }
    @include mobile{
        width:40px;
        height: 40px;
        padding-top: 10px;
    }
}
.left-toggle ul li a .dot:hover{
    border: 3px solid #FFFFFF;
}

.left-toggle ul li a{
    text-decoration: none;
    font-size: 34px;
    color: #FFFFFF;
    @include mobile{
        font-size: 16px;
     line-height: 18px;
     text-align: center;
     letter-spacing: 1px;
    }
   
}
.left-toggle ul li a .act{
    color: #34373d;
    background-color: #FFFFFF;
}
.left-toggle ul li a.active{
    color: #34373d;
}
.left-toggle ul li a.active .dot{
    
    background-color: #FFFFFF;
}

//inner box left side
.left-inner-box{
    @include desktop{
        margin-bottom: 110px;
    margin-left: 96px;
    height: 200px;
    }
    
}


.left-inner-box .fixed{
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;

}
.left-inner-box .fixed p{
    @include desktop{
        font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 2.3625px;
     }
  
}
.left-inner-box .text-tech{
    text-align: center;
  
}
.left-inner-box .text-tech h3{
    color: #FFFFFF;
    margin-bottom: 10px;
    padding: 0;
    @include mobile{
        width:40px;
        height: 40px;
        padding-top: 10px;
    }
}
.left-inner-box .text-tech p{
@include desktop{
    font-size: 18px;
line-height: 32px;
width:440px;
}
@include mobile{
    font-size: 15px;
line-height: 25px;
width: auto;
}
}

//right-box

.container-tech .right-box{
   @include desktop{
    position: relative;
    top:0;
    height: 50vh;
    display: block;
   }
    
    @include mobile{
        height: 237px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
.container-tech .right-box .img-details > div > img{
   @include mobile{ 
    clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
   
}
}

