//background image
.bck-img-tech{
    position: fixed;
    top:0;
    width: 100%;
    height: 100%;
    background-image: url("/src/assets/technology/background-technology-desktop.jpg");
    background-repeat: no-repeat;
    mix-blend-mode: lighten;
    background-size: cover;
    @include tablet{
        background-image: url("/src/assets/technology/background-technology-tablet.jpg");
    }
    @include mobile{
        background-image: url("/src/assets/technology/background-technology-mobile.jpg");
    }
}

//container centered
.container-tech{
    display: flex;
    max-width: 1200px;
    margin: 50px auto;
    height: 100vh;
    align-items: center;
    @include tablet{
    flex-direction: column-reverse;

    }
}
//left-side-fixed menu container
.fixed-main{
    @include xl-desktop{
        display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}
@include tablet{
    justify-content: center;
    height: 60%;
}
}
.fixed-main h5{
   @include xl-desktop{ 
    
    position: absolute;
    top: 145px;
    margin-left: -10px;
    text-transform: uppercase;}
    @include tablet{
        margin-left: 0;
        margin-right: 50%;
    }
    @include mobile{
        margin: auto;
        top: 85px;
    }
    @include xsm{
        margin: auto;
    }
}
.inner-box{
    position: absolute;
    @include tablet{
      padding-bottom: 5%;
      z-index: 60;
    }
    @include smt{
        padding: 0;
    }
}
.inner-box .left-box{
    display: flex;
    flex-direction: row-reverse;
    @include tablet{
     flex-direction: column-reverse;
    }
}

//left-inner-box 
.left-inner-box{
    width: 580px;
}
.left-inner-box .text-tech{
    max-width: 470px;
    
    margin: auto;
}
.left-inner-box .text-tech .main-title{
 @include xl-desktop{
 font-family: $font-1;
 font-size: 16px;
 line-height: 19px;
 letter-spacing: 2.7px;
 text-align: initial;
 }
 @include tablet{
    text-align: center;
 }
 @include mobile{
    font-size: 14px;
    line-height: 17px;
 }
}
.left-inner-box .text-tech .main-text{
    @include xl-desktop{
        font-family: $font-1;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        text-align: initial;
        max-width: 444px;
    }
    @include tablet{
        font-size: 16px;
        line-height: 28px;
        text-align: center;
    }
    @include mobile{
        font-size: 15px;
        line-height: 25px;
        max-width: 327px;
        margin: 0 auto;
    }
}

.left-inner-box .text-tech h3{
    @include xl-desktop{
        color: #FFFFFF;
        font-size: 56px;
        line-height: 64px;
        text-align: initial;
        margin-top: 11px;
        margin-bottom: 17px;
    }
    @include tablet{
        font-size: 40px;
        line-height: 46px;
         text-align: center;
    }
    @include mobile{
        font-size: 24px;
        line-height: 28px;
    }
}
// toggles
.left-toggle{
    @include tablet{
        margin-bottom: 20px;
    }
    @include mobile{
        margin-top: -50px;
        
    }
}
.left-toggle ul{
    display: flex;
    flex-direction: column;
    @include tablet{
        display: flex;
    justify-content: center;
    flex-direction: row;
    }
}
.left-toggle ul li {
    cursor: pointer;
    list-style-type: none;
    @include tablet{
        margin-right: 16px;
    }
}

.left-toggle ul li a .dot{
    @include xl-desktop{
     text-align: center;
     padding-top: 20px;
     border: 3px solid #34373d;
     mix-blend-mode: normal;
     width: 80px;
     height: 80px;
     border-radius: 50%;
     margin-bottom: 10px; 
    }
    @include tablet{
        height: 60px;
        width: 60px;
        padding-top: 14px;
    }
    @include mobile{
        height: 40px;
        width: 40px;
        padding-top: 8px;

    }
}


         //hover
.left-toggle ul li a .dot:hover{
            border: 3px solid #FFFFFF;
        }

        .left-toggle ul li a{
           @include xl-desktop{
             text-decoration: none;
            font-size: 34px;
            color: #FFFFFF;
        }
        @include tablet{
            font-size: 24px;
        }
        @include mobile{
            font-size: 16px;
        }
        }


        .left-toggle ul li a .act{
            color: #34373d;
            background-color: #FFFFFF;
        }
        .left-toggle ul li a.active{
            color: #34373d;
        }
        .left-toggle ul li a.active .dot{
            
            background-color: #FFFFFF;
        }

        //right box img
.right-box{
    @include tablet{
        width: 1200px;
        padding-top: 25px;
    }
    @include mobile{
        width: 720px;
        
    }
    
}

//images visibility
.img-details-tech .tech-img-sm{

@include tablet{
    width: 102%;
    margin: 0 auto;
    clip-path: polygon(0% 25%, 100% 25%, 100% 90%, 0% 90%);
}
@include mobile{
    width: 102%;
    clip-path: polygon(0% 25%, 100% 25%, 100% 90%, 0% 90%);
}
}