.bck-img-dst{
    position: fixed;
    top:0;
    width: 100%;
    height: 100%;
    background-image: url("/src/assets/destination/background-destination-desktop.jpg");
    background-repeat: no-repeat;
    mix-blend-mode: lighten;
    background-size: cover;
    @include tablet{
      background-image: url("/src/assets/destination/background-destination-tablet.jpg");
    }
    @include mobile{
      background-image: url("/src/assets/destination/background-destination-mobile.jpg");
    }
  }
  .overflow{
    @include tablet{
        overflow: auto;
    }
    @include mobile{
        overflow: auto;
    }
  }
.container-destination{
    display: flex;
    max-width: 1200px;
    margin: 50px auto;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    @include tablet{
        flex-direction: column;
    }
    @include mobile{
        margin: 0 auto;
    }
    
}

//planet-image-container
.inner-box-destination{
   @include xl-desktop{
    position:absolute;
    width: 50%;
}
@include tablet{
    height: 13%;
}
@include mobile{
    position: absolute;
}
@include smt{
    top: 35%;
}
}
//img-sizes
.img-container-dest img.dest-img-sm{
    @include tablet{
        height: 290px;
        margin: 0 auto;
    }
    @include mobile{
        height: 230px;
    }
}
//right-side
.right-box-destination{
   @include xl-desktop{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    bottom: -40px;
}
@include tablet{
    height: 65%;
}
@include mobile{
    height: 50%;
    bottom: 0px;
}
@include smt{
    height: auto;
    top: 102%;
}
}
//destination menu
.dest-menu ul{
    @include xl-desktop{
    height: 34px;
    display: flex;
    align-items: center;
    list-style-type: none;
    text-transform: uppercase;
    justify-content: flex-start;
}
@include tablet{
    justify-content: center;
    padding-left: 30px;
}
}
.dest-menu ul li{
    height: 34px;
    display: flex;
    position: relative;
  align-items: center;
  margin-right: 36px;
  font-size: 16px;
line-height: 19px;
letter-spacing: 2.7px;

}
.dest-menu ul li .link{
    color: $text-color-light;
}
//when active link
.dest-menu ul li .active{
    color:#ffff;
    
}
.dest-menu ul li .active::after{
    content: "";
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    border-bottom: 3px solid #ffff;
    opacity: 100%;
  }
  //when hovering
  .dest-menu ul li .link:hover{
    text-decoration: none;
  }
  .dest-menu ul li .link:hover::after{
    content: "";
    position: absolute;
    bottom: 0px;
    left:0;
    right: 0;
    border-bottom: 3px solid #ffff;
    opacity: 30%;
  }
//destination- details
.dest-details{
   @include xl-desktop{ 
    text-align: initial;
    margin-top: 30px;
}
@include tablet{
    text-align: center;
}
}
.dest-details .planets{
    height:468px;
}
.dest-details .planets .title h2{
   @include xl-desktop{
    font-size: 100px;
    line-height: 115px;
    color:#ffffff;
}
@include tablet{
    font-size: 80px;
    line-height: 92px;
}
@include mobile{
    font-size: 56px;
    line-height: 64px;
}
}
.dest-details .planets .text{
   @include xl-desktop{
    margin-top:16px;
    margin-bottom: 51px;
    font-family: $font-1;
    font-size: 18px;
    line-height: 32px;
    height: 125px;
}
@include tablet{
    font-size: 16px;
    line-height: 28px;
    height: auto;
    
}
@include mobile{
    font-size: 15px;
    line-height: 25px;
    height: min-content;
    max-width: 327px;
}

}

.dest-details .planets .details{
    @include xl-desktop{
    margin-top: 28px;
    display: flex;
    width: 100%;
}
@include tablet{
    justify-content: center;
    position: relative;
    right: 16px;
}
@include mobile{
    flex-direction: column;
    right: 0;
}
}

.dest-details .planets .details .time{
   @include xl-desktop{
    position: relative;
    left: 40px;
}
@include mobile{
    position: static;
}
}

.dest-details .planets .details h5{
    margin-top: 18px;
    font-size: 28px;
    line-height: 32px;
    font-family: $font-2;
    text-transform: uppercase;
    color: #ffffff;
    @include mobile{
        margin-bottom: 18px;
    }
}

.dest-details .planets .details p{
  
      font-size: 14px;
      line-height: 17px;
     letter-spacing: 2.3625px;
      text-transform: uppercase;
    
}