.bck-img-dst{
  position: fixed;
  top:0;
  width: 100%;
  height: 100%;
  background-image: url("/src/assets/destination/background-destination-desktop.jpg");
  background-repeat: no-repeat;
  mix-blend-mode: lighten;
  background-size: cover;
}

.img-container{
  margin-top: 60px;
  width: 445px;
  height: 445px;
  
}
.destinations .inner-container{
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.destinations .side-box{
  margin-top: 120px;
  width: 445px;
  height: 472px;
  
}

.dest-menu{
  position: relative;
  left: -45px;
}

.dest-details{
  margin-top: 20px;
  
}
.dest-menu ul{
    display: flex;
    
    height: 34px;
    align-items: center;
    list-style-type: none;
    text-transform: uppercase;

}
.dest-menu ul li{
  display: flex;
  position:relative;
  margin-left: 45px;
  height:34px;
  align-items: center;
  
}
.dest-menu ul li .link{
    color: $text-color-light;
}
//when active link
.dest-menu ul li .active{
    color:#ffff;
    
}
.dest-menu ul li .active::after{
  content: "";
  position: absolute;
  bottom: 0;
  left:0;
  right: 0;
  border-bottom: 3px solid #ffff;

}
//when hovering
.dest-menu ul li .link:hover{
  text-decoration: none;
}
.dest-menu ul li .link:hover::after{
  content: "";
  position: absolute;
  bottom: 0;
  left:0;
  right: 0;
  border-bottom: 3px solid #ffff;
opacity: 30%;
}

//planets styling
.planets{
  margin-top: 50px;
}
.planets .title{
color: #ffffff;
}
.planets p{
font-size: 18px;
line-height: 32px;
}
.planets .hr{
  width: 444px;
  margin: 40px 0;
}
.planets .details{
  display: flex;
  padding: 10px;
  
} 
.planets .details .distance{
margin-right: 20px;
}
.planets .details .distance h5{
  color: #ffffff;
}
.planets .details .time{
  position: relative;
  left: 50px;
}
.planets .details .time h5{
  color: #ffffff;
}