.bck-img-dst{
  position: fixed;
  top:0;
  width: 100%;
  height: 100%;
  background-image: url("/src/assets/destination/background-destination-desktop.jpg");
  background-repeat: no-repeat;
  mix-blend-mode: lighten;
  background-size: cover;
  @include tablet{
    background-image: url("/src/assets/destination/background-destination-tablet.jpg");
  }
  @include mobile{
    background-image: url("/src/assets/destination/background-destination-mobile.jpg");
  }
}

.img-container{
  margin-top: 60px;
  width: 445px;
  height: 445px;
  @include tablet{
    width: min-content;
    height: min-content;
    position: relative;
    left: 3%;
  }
  
}
.img-container img{
  @include tablet{
    width:350px;
    height: 350px;
  }
  @include mobile{
    width: 250px;
    height: 250px;
  }
}
.destinations .inner-container{
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet{
    margin-top:15%;
  }
}

.destinations .side-box{
  margin-top: 120px;
  width: 445px;
  height: 472px;
  @include tablet{
    margin-top: 5%;
    width: 445px;
    height: 472px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 2%;

  }
  
}

.dest-menu{
  position: relative;
  left: -45px;
  @include tablet{
    left: 0;
    text-align: center;
    align-items: center;
  }
}

.dest-details{
  margin-top: 20px;
  @include tablet{
    margin: 0;
    text-align: center;
    position: relative;
    left: 5%;
  }
  
}
.dest-menu ul{
    display: flex;
    
    height: 34px;
    align-items: center;
    list-style-type: none;
    text-transform: uppercase;

}
.dest-menu ul li{
  display: flex;
  position:relative;
  margin-left: 45px;
  height:34px;
  align-items: center;
  @include mobile{
    margin-left: 24px;
  }
  
}
.dest-menu ul li .link{
    color: $text-color-light;
    @include mobile{
      font-size: 14px;
    }
}
//when active link
.dest-menu ul li .active{
    color:#ffff;
    
}
.dest-menu ul li .active::after{
  content: "";
  position: absolute;
  bottom: 0;
  left:0;
  right: 0;
  border-bottom: 3px solid #ffff;

}
//when hovering
.dest-menu ul li .link:hover{
  text-decoration: none;
}
.dest-menu ul li .link:hover::after{
  content: "";
  position: absolute;
  bottom: 0;
  left:0;
  right: 0;
  border-bottom: 3px solid #ffff;
opacity: 30%;
}

//planets styling
.planets{
  margin-top: 50px;
  @include tablet{
    margin-top: 2%;
  }
}
.planets .title{
color: #ffffff;

}
.planets .title h2{
  @include tablet{
    font-size: 80px;
  line-height: 92px;
  }
  @include mobile{
    font-size: 56px;
line-height: 64px;
  }
}
.planets p{
font-size: 18px;
line-height: 32px;
@include tablet{
  font-size: 16px;
line-height: 28px;
}
@include mobile{
font-size: 15px;
line-height: 25px;

}
}
.planets p.mob-text{
  @include mobile{
    position: relative;
    left: 20%;
    max-width: 250px;
  }
}
.planets .hr{
  width: 444px;
  margin: 40px 0;
  @include tablet{
    margin:19px 0
  }
}
.planets .details{
  display: flex;
  padding: 10px;
  @include tablet{
   padding: 0;
    justify-content: space-evenly;
    position: relative;
    right: 5%;
  }
  @include mobile{
    right: 0;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  
} 
.planets .details .distance{
margin-right: 20px;
@include mobile{
  margin: 0;
}
}
.planets .details .distance h5{
  color: #ffffff;
}
.planets .details .time{
  position: relative;
  left: 50px;
  @include mobile{
    left: 0;
  }
}
.planets .details .time h5{
  color: #ffffff;
}