

.navbar{
    position: fixed;
    top:0;
    display: flex;
     width: 100%;
     height: 96px;
     justify-content:space-between;
     align-items: center;
     margin-top:40px;
     font-family: $font-1;
     line-height: 19px;
   letter-spacing: 2.7px;
   z-index: 50;
   @include tablet{
    margin-top: 0;
   }
   @include mobile{
    margin-top:0;
   }
      
 }
 .modal {
   @include desktop{
     background-color: rgba(255, 255, 255, 0.04);
    border-radius: 5px;
    
    max-width: 50%;
  }
  @include tablet{
    max-width: 80%;
  }
  @include mobile{
    height: 200vh;
  }
  }
  
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .modal {
      -webkit-backdrop-filter: blur(40px);
      backdrop-filter: blur(40px);
      background-color: rgba(255, 255, 255, 0.04);  
    }
  }

 .logo{
  margin-left: 20px;
 }

.navbar .hr{
  @include desktop{position: absolute;
  left:280px;
width: 473px;
}
@include tablet{
  display: none;
}
@include mobile{
  display: none;
}
}

.menu{
   @include desktop{ 
    width: 900px;
    margin-left:450px;
  }
  @include tablet{
    margin: 0;
  }
  margin: 0;
}


.menu ul{
    display: flex;
    justify-content: space-evenly;
    height: 96px;
    align-items: center;
    list-style-type: none;
    text-transform: uppercase;
    @include mobile{
      
    }
}
.menu ul li{
  display: flex;
  position:relative;
  margin-left: 60px;
  height: 96px;
  align-items: center;
}
.menu ul li .link:hover{
  text-decoration: none;
}
.menu ul li .link:hover::after{
  content: "";
  position: absolute;
  bottom: 0;
  left:0;
  right: 0;
  border-bottom: 3px solid #ffff;

}

.menu ul li .active::after{
  content: "";
  position: absolute;
  bottom: 0;
  left:0;
  right: 0;
  border-bottom: 3px solid #ffff;

}
.navbar .navigation{
  @include mobile{
    display: none;
  }
}

//mobile Navigation

.navbar .mobileNavigation{
  display: none;
  @include mobile{
    display: flex;
    align-items: center;
  }
}
.navbar .mobileNavigation .humberger{
  position: absolute;
  right: 5%;
  cursor: pointer;
}
.navbar .mobileNavigation .closeIcon{
  position: absolute;
  left:0;
  cursor: pointer;
}
.navbar .mobileNavigation .menu ul{
  display: flex;
  flex-direction: column;
 list-style-type: none;
}
